@charset "UTF-8";

html {
    font-size: 100%; /*ユーザー設定の文字サイズを正しく反映*/
}

body {
    background-color: #fff;
    color: #3D3939;
    font-size: 0.875rem;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    margin:0;
    padding:0;
}

@media screen and (min-device-width: 960px) {
    body {
      font-size: 1rem;
      width: 100%;
    }
}

a {
    text-decoration: none;
    color: #3D3939;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%; /*画像が親要素からはみ出すのを防ぐ*/
    height: auto;
}

main {
    margin-top: 50px;
    padding-left: 0.4%;
    padding-right: 0.4%;
}

/*ヘッダー*/

.header {
    background-color: #3D3939;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 0.4%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
}

h1 {
    width: 300px;
}

@media screen and (min-width: 960px) {
    h1 {
      width: 300px;
    }
}

h1 img {
    display: block;
    width: 100%;
    height: 100%;
}

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #3D3939;
    transition: ease .4s;
}
  
@media screen and (min-width: 960px) {
    .header__nav {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      justify-content: end;
      width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .nav__items {
      width: 100%;
      display: flex;
      align-items: center;
      height: initial;
      justify-content: space-between;
    }
}
  
.nav-items {
    padding-top: 250px;
    padding-bottom: 200px;
}
  
@media screen and (min-width: 960px) {
    .nav-items {
      padding-top: inherit;
      padding-bottom: inherit;
    }
}

.nav-items__item li {
    margin-left: 10px;
}

.nav-items__item a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 24px;
}

.nav-items__item:last-child a {
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .nav-items__item a {
      margin-bottom: 0;
    }
}

/* ハンバーガーメニュー */

.header__hamburger {
    width: 48px;
    height: 100%;
}
  
.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
}
  
@media screen and (min-width: 960px) {
    .hamburger {
      display: none;
    }
}
  
/* ハンバーガーメニューの線 */

.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s;
    display: block;
}
  
.hamburger span:nth-child(1) {
    top: 0;
}
  
.hamburger span:nth-child(2) {
    margin: 8px 0;
}
  
.hamburger span:nth-child(3) {
    top: 0;
}
  
/* ハンバーガーメニュークリック後のスタイル */

.header__nav.active {
    transform: translateX(0);
}
  
.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}
  
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
  
.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

/*メイン*/

h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-device-width: 960px) {
    h2 {
      font-size: 3rem;
    }
}

.lectureship {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*トップページのスライド*/

.slide-items {
    max-width: 95%;
    display: flex;
    margin: auto;
}

.slide-items li {
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}
  
.slide-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news {
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-list li a {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*各ページ*/

.wrapper {
    margin-top: 50px;
}

.main {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pdf {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

@media only screen and (min-device-width: 960px) {
    .text {
        float: left;
        width: 50%;
    }

    .img {
	    float: left;
            width: 50%;
    }

    .btn_add {
        float: left;
        width: 50%;
    }

    .btn {
        float: right;
        width: 50%;
    }
    
}

.text {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.img {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.btn_add {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-device-width: 960px) {
    h3 {
      font-size: 2rem;
    }
}

p {
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn00,
a.btn00 {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 300px;
	font-weight: bold;
	border: 2px solid #3D3939;
	background: #fff;
	color: #3D3939;
	transition: 0.5s;
}

.btn00:hover,
a.btn00:hover {
    color: #3D3939;
	background: #fff;
}

.btn01,
a.btn01 {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #8FC31F;
	background: #8FC31F;
	color: #fff;
	transition: 0.5s;
}

.btn01:hover,
a.btn01:hover {
    color: #8FC31F;
	background: #fff;
}

.btn02,
a.btn02 {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #66CCFF;
	background: #66CCFF;
	color: #fff;
	transition: 0.5s;
}

.btn02:hover,
a.btn02:hover {
    color: #66CCFF;
	background: #fff;
}

.btn03,
a.btn03 {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #F19EC2;
	background: #F19EC2;
	color: #fff;
	transition: 0.5s;
}

.btn03:hover,
a.btn03:hover {
    color: #F19EC2;
	background: #fff;
}

.btn04,
a.btn04 {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 160px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #FF9900;
	background: #FF9900;
	color: #fff;
	transition: 0.5s;
}

.btn04:hover,
a.btn04:hover {
    color: #FF9900;
	background: #fff;
}

/*フッター*/

.footer {
    width: 100%;
    height: 20px;
    background-color: #3D3939;
    color: #fff;
    padding: 0.4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    margin: 0;
    font-size: 0.825rem;
}

@media screen and (min-device-width: 960px) {
    .footer {
        position: absolute;/*絶対位置*/
        bottom: 0; /*下に固定*/
    }
}



/*————————————————————————————————*/
/* Style */
/*————————————————————————————————*/

input {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: rgb(200, 210, 240);
  -webkit-text-fill-color: rgb(200, 210, 240);
  background-color: rgb(10, 20, 40);
  font-size: 40px;
}
input::placeholder {
  font-family: "Orbitron", sans-serif;
  color: rgb(20, 40, 80);
  -webkit-text-fill-color: rgb(20, 40, 80);
}
form {
  text-align: center;
  margin: calc(50vh - 100px) auto 0;
  max-width: 400px;
  width: 90vw;
}
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: rgb(200, 210, 240);
  -webkit-text-fill-color: rgb(200, 210, 240);
}
